venv/
.venv/
__pycache__/
*.pyc

log.html
report.html
output.xml
pabot_results/
browser/

allure-results/
allure-report/
allure-history/
gh-pages/

.vscode/
.idea/

.env
results/
playwright-log.txt
.pabotsuitenames
